@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-ArGHp3u9qppG: #0000003b;
  --plasmic-token-black: var(--token-ArGHp3u9qppG);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MxB8PV13D9t2_font-family: "Inter", sans-serif;
  --mixin-MxB8PV13D9t2_font-size: 16px;
  --mixin-MxB8PV13D9t2_font-weight: 400;
  --mixin-MxB8PV13D9t2_font-style: normal;
  --mixin-MxB8PV13D9t2_color: #535353;
  --mixin-MxB8PV13D9t2_text-align: left;
  --mixin-MxB8PV13D9t2_text-transform: none;
  --mixin-MxB8PV13D9t2_line-height: 1.5;
  --mixin-MxB8PV13D9t2_letter-spacing: normal;
  --mixin-MxB8PV13D9t2_white-space: pre-wrap;
  --mixin-MxB8PV13D9t2_user-select: text;
  --mixin-MxB8PV13D9t2_text-decoration-line: none;
  --mixin-MxB8PV13D9t2_text-overflow: clip;
  --mixin-P3Ay5HM8aRSX_color: #000000;
  --mixin-P3Ay5HM8aRSX_font-weight: 700;
  --mixin-P3Ay5HM8aRSX_font-size: 64px;
  --mixin-P3Ay5HM8aRSX_line-height: 1;
  --mixin-P3Ay5HM8aRSX_letter-spacing: -1px;
  --mixin-P3Ay5HM8aRSX_white-space: pre-wrap;
  --mixin-w7VBXO66yX8q_color: #000000;
  --mixin-w7VBXO66yX8q_font-size: 48px;
  --mixin-w7VBXO66yX8q_font-weight: 700;
  --mixin-w7VBXO66yX8q_letter-spacing: -0.5px;
  --mixin-w7VBXO66yX8q_line-height: 1.1;
  --mixin-w7VBXO66yX8q_white-space: pre-wrap;
  --mixin-uQghiKMIT8Vp_color: #0070f3;
  --mixin-uQghiKMIT8Vp_white-space: pre-wrap;
  --mixin-94IdDKa1dUeM_color: #000000;
  --mixin-94IdDKa1dUeM_font-size: 32px;
  --mixin-94IdDKa1dUeM_font-weight: 600;
  --mixin-94IdDKa1dUeM_line-height: 1.2;
  --mixin-94IdDKa1dUeM_white-space: pre-wrap;
  --mixin-Yw0dcmupkbg__color: #000000;
  --mixin-Yw0dcmupkbg__font-size: 24px;
  --mixin-Yw0dcmupkbg__font-weight: 600;
  --mixin-Yw0dcmupkbg__line-height: 1.3;
  --mixin-Yw0dcmupkbg__white-space: pre-wrap;
  --mixin-OQFPBcA3Ukak_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OQFPBcA3Ukak_border-bottom-color: #dddddd;
  --mixin-OQFPBcA3Ukak_border-bottom-style: solid;
  --mixin-OQFPBcA3Ukak_border-bottom-width: 1px;
  --mixin-OQFPBcA3Ukak_border-left-color: #dddddd;
  --mixin-OQFPBcA3Ukak_border-left-style: solid;
  --mixin-OQFPBcA3Ukak_border-left-width: 1px;
  --mixin-OQFPBcA3Ukak_border-right-color: #dddddd;
  --mixin-OQFPBcA3Ukak_border-right-style: solid;
  --mixin-OQFPBcA3Ukak_border-right-width: 1px;
  --mixin-OQFPBcA3Ukak_border-top-color: #dddddd;
  --mixin-OQFPBcA3Ukak_border-top-style: solid;
  --mixin-OQFPBcA3Ukak_border-top-width: 1px;
  --mixin-OQFPBcA3Ukak_border-bottom-left-radius: 3px;
  --mixin-OQFPBcA3Ukak_border-bottom-right-radius: 3px;
  --mixin-OQFPBcA3Ukak_border-top-left-radius: 3px;
  --mixin-OQFPBcA3Ukak_border-top-right-radius: 3px;
  --mixin-OQFPBcA3Ukak_font-family: "Inconsolata";
  --mixin-OQFPBcA3Ukak_padding-bottom: 1px;
  --mixin-OQFPBcA3Ukak_padding-left: 4px;
  --mixin-OQFPBcA3Ukak_padding-right: 4px;
  --mixin-OQFPBcA3Ukak_padding-top: 1px;
  --mixin-OQFPBcA3Ukak_white-space: pre-wrap;
  --mixin-37gebBA7cg5a_border-left-color: #dddddd;
  --mixin-37gebBA7cg5a_border-left-style: solid;
  --mixin-37gebBA7cg5a_border-left-width: 3px;
  --mixin-37gebBA7cg5a_color: #888888;
  --mixin-37gebBA7cg5a_padding-left: 10px;
  --mixin-37gebBA7cg5a_white-space: pre-wrap;
  --mixin-GP9i6Mhe-quJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-GP9i6Mhe-quJ_border-bottom-color: #dddddd;
  --mixin-GP9i6Mhe-quJ_border-bottom-style: solid;
  --mixin-GP9i6Mhe-quJ_border-bottom-width: 1px;
  --mixin-GP9i6Mhe-quJ_border-left-color: #dddddd;
  --mixin-GP9i6Mhe-quJ_border-left-style: solid;
  --mixin-GP9i6Mhe-quJ_border-left-width: 1px;
  --mixin-GP9i6Mhe-quJ_border-right-color: #dddddd;
  --mixin-GP9i6Mhe-quJ_border-right-style: solid;
  --mixin-GP9i6Mhe-quJ_border-right-width: 1px;
  --mixin-GP9i6Mhe-quJ_border-top-color: #dddddd;
  --mixin-GP9i6Mhe-quJ_border-top-style: solid;
  --mixin-GP9i6Mhe-quJ_border-top-width: 1px;
  --mixin-GP9i6Mhe-quJ_border-bottom-left-radius: 3px;
  --mixin-GP9i6Mhe-quJ_border-bottom-right-radius: 3px;
  --mixin-GP9i6Mhe-quJ_border-top-left-radius: 3px;
  --mixin-GP9i6Mhe-quJ_border-top-right-radius: 3px;
  --mixin-GP9i6Mhe-quJ_font-family: "Inconsolata";
  --mixin-GP9i6Mhe-quJ_padding-bottom: 3px;
  --mixin-GP9i6Mhe-quJ_padding-left: 6px;
  --mixin-GP9i6Mhe-quJ_padding-right: 6px;
  --mixin-GP9i6Mhe-quJ_padding-top: 3px;
  --mixin-GP9i6Mhe-quJ_white-space: pre-wrap;
  --mixin-NUaEqaIZBKn2_display: flex;
  --mixin-NUaEqaIZBKn2_flex-direction: column;
  --mixin-NUaEqaIZBKn2_align-items: stretch;
  --mixin-NUaEqaIZBKn2_justify-content: flex-start;
  --mixin-NUaEqaIZBKn2_list-style-position: outside;
  --mixin-NUaEqaIZBKn2_padding-left: 40px;
  --mixin-NUaEqaIZBKn2_position: relative;
  --mixin-NUaEqaIZBKn2_list-style-type: disc;
  --mixin-NUaEqaIZBKn2_white-space: pre-wrap;
  --mixin-epLxEBG7EVba_display: flex;
  --mixin-epLxEBG7EVba_flex-direction: column;
  --mixin-epLxEBG7EVba_align-items: stretch;
  --mixin-epLxEBG7EVba_justify-content: flex-start;
  --mixin-epLxEBG7EVba_list-style-position: outside;
  --mixin-epLxEBG7EVba_padding-left: 40px;
  --mixin-epLxEBG7EVba_position: relative;
  --mixin-epLxEBG7EVba_list-style-type: decimal;
  --mixin-epLxEBG7EVba_white-space: pre-wrap;
  --mixin-JAi6iyxbAcwn_color: #000000;
  --mixin-JAi6iyxbAcwn_font-size: 20px;
  --mixin-JAi6iyxbAcwn_font-weight: 600;
  --mixin-JAi6iyxbAcwn_line-height: 1.5;
  --mixin-JAi6iyxbAcwn_white-space: pre-wrap;
  --mixin-ka3EvRyvi6sV_color: #000000;
  --mixin-ka3EvRyvi6sV_font-size: 16px;
  --mixin-ka3EvRyvi6sV_font-weight: 600;
  --mixin-ka3EvRyvi6sV_line-height: 1.5;
  --mixin-ka3EvRyvi6sV_white-space: pre-wrap;
  --mixin-L092Y0yTrQMs_color: #3291ff;
  --mixin-L092Y0yTrQMs_white-space: pre-wrap;
  --mixin-tBZUQWyiT2zd_white-space: pre-wrap;
  --mixin-PdniTB6TLcXe_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MxB8PV13D9t2_font-family);
  font-size: var(--mixin-MxB8PV13D9t2_font-size);
  font-weight: var(--mixin-MxB8PV13D9t2_font-weight);
  font-style: var(--mixin-MxB8PV13D9t2_font-style);
  color: var(--mixin-MxB8PV13D9t2_color);
  text-align: var(--mixin-MxB8PV13D9t2_text-align);
  text-transform: var(--mixin-MxB8PV13D9t2_text-transform);
  line-height: var(--mixin-MxB8PV13D9t2_line-height);
  letter-spacing: var(--mixin-MxB8PV13D9t2_letter-spacing);
  white-space: var(--mixin-MxB8PV13D9t2_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-P3Ay5HM8aRSX_color);
  font-weight: var(--mixin-P3Ay5HM8aRSX_font-weight);
  font-size: var(--mixin-P3Ay5HM8aRSX_font-size);
  line-height: var(--mixin-P3Ay5HM8aRSX_line-height);
  letter-spacing: var(--mixin-P3Ay5HM8aRSX_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-w7VBXO66yX8q_color);
  font-size: var(--mixin-w7VBXO66yX8q_font-size);
  font-weight: var(--mixin-w7VBXO66yX8q_font-weight);
  letter-spacing: var(--mixin-w7VBXO66yX8q_letter-spacing);
  line-height: var(--mixin-w7VBXO66yX8q_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-uQghiKMIT8Vp_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-94IdDKa1dUeM_color);
  font-size: var(--mixin-94IdDKa1dUeM_font-size);
  font-weight: var(--mixin-94IdDKa1dUeM_font-weight);
  line-height: var(--mixin-94IdDKa1dUeM_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Yw0dcmupkbg__color);
  font-size: var(--mixin-Yw0dcmupkbg__font-size);
  font-weight: var(--mixin-Yw0dcmupkbg__font-weight);
  line-height: var(--mixin-Yw0dcmupkbg__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-OQFPBcA3Ukak_font-family);
  border-radius: var(--mixin-OQFPBcA3Ukak_border-top-left-radius)
    var(--mixin-OQFPBcA3Ukak_border-top-right-radius)
    var(--mixin-OQFPBcA3Ukak_border-bottom-right-radius)
    var(--mixin-OQFPBcA3Ukak_border-bottom-left-radius);
  padding: var(--mixin-OQFPBcA3Ukak_padding-top)
    var(--mixin-OQFPBcA3Ukak_padding-right)
    var(--mixin-OQFPBcA3Ukak_padding-bottom)
    var(--mixin-OQFPBcA3Ukak_padding-left);
  border-top: var(--mixin-OQFPBcA3Ukak_border-top-width)
    var(--mixin-OQFPBcA3Ukak_border-top-style)
    var(--mixin-OQFPBcA3Ukak_border-top-color);
  border-right: var(--mixin-OQFPBcA3Ukak_border-right-width)
    var(--mixin-OQFPBcA3Ukak_border-right-style)
    var(--mixin-OQFPBcA3Ukak_border-right-color);
  border-bottom: var(--mixin-OQFPBcA3Ukak_border-bottom-width)
    var(--mixin-OQFPBcA3Ukak_border-bottom-style)
    var(--mixin-OQFPBcA3Ukak_border-bottom-color);
  border-left: var(--mixin-OQFPBcA3Ukak_border-left-width)
    var(--mixin-OQFPBcA3Ukak_border-left-style)
    var(--mixin-OQFPBcA3Ukak_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-37gebBA7cg5a_color);
  padding-left: var(--mixin-37gebBA7cg5a_padding-left);
  border-left: var(--mixin-37gebBA7cg5a_border-left-width)
    var(--mixin-37gebBA7cg5a_border-left-style)
    var(--mixin-37gebBA7cg5a_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-GP9i6Mhe-quJ_font-family);
  border-radius: var(--mixin-GP9i6Mhe-quJ_border-top-left-radius)
    var(--mixin-GP9i6Mhe-quJ_border-top-right-radius)
    var(--mixin-GP9i6Mhe-quJ_border-bottom-right-radius)
    var(--mixin-GP9i6Mhe-quJ_border-bottom-left-radius);
  padding: var(--mixin-GP9i6Mhe-quJ_padding-top)
    var(--mixin-GP9i6Mhe-quJ_padding-right)
    var(--mixin-GP9i6Mhe-quJ_padding-bottom)
    var(--mixin-GP9i6Mhe-quJ_padding-left);
  border-top: var(--mixin-GP9i6Mhe-quJ_border-top-width)
    var(--mixin-GP9i6Mhe-quJ_border-top-style)
    var(--mixin-GP9i6Mhe-quJ_border-top-color);
  border-right: var(--mixin-GP9i6Mhe-quJ_border-right-width)
    var(--mixin-GP9i6Mhe-quJ_border-right-style)
    var(--mixin-GP9i6Mhe-quJ_border-right-color);
  border-bottom: var(--mixin-GP9i6Mhe-quJ_border-bottom-width)
    var(--mixin-GP9i6Mhe-quJ_border-bottom-style)
    var(--mixin-GP9i6Mhe-quJ_border-bottom-color);
  border-left: var(--mixin-GP9i6Mhe-quJ_border-left-width)
    var(--mixin-GP9i6Mhe-quJ_border-left-style)
    var(--mixin-GP9i6Mhe-quJ_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-NUaEqaIZBKn2_display);
  flex-direction: var(--mixin-NUaEqaIZBKn2_flex-direction);
  align-items: var(--mixin-NUaEqaIZBKn2_align-items);
  justify-content: var(--mixin-NUaEqaIZBKn2_justify-content);
  list-style-position: var(--mixin-NUaEqaIZBKn2_list-style-position);
  padding-left: var(--mixin-NUaEqaIZBKn2_padding-left);
  position: var(--mixin-NUaEqaIZBKn2_position);
  list-style-type: var(--mixin-NUaEqaIZBKn2_list-style-type);
  flex-column-gap: var(--mixin-NUaEqaIZBKn2_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-epLxEBG7EVba_display);
  flex-direction: var(--mixin-epLxEBG7EVba_flex-direction);
  align-items: var(--mixin-epLxEBG7EVba_align-items);
  justify-content: var(--mixin-epLxEBG7EVba_justify-content);
  list-style-position: var(--mixin-epLxEBG7EVba_list-style-position);
  padding-left: var(--mixin-epLxEBG7EVba_padding-left);
  position: var(--mixin-epLxEBG7EVba_position);
  list-style-type: var(--mixin-epLxEBG7EVba_list-style-type);
  flex-column-gap: var(--mixin-epLxEBG7EVba_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-JAi6iyxbAcwn_color);
  font-size: var(--mixin-JAi6iyxbAcwn_font-size);
  font-weight: var(--mixin-JAi6iyxbAcwn_font-weight);
  line-height: var(--mixin-JAi6iyxbAcwn_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-ka3EvRyvi6sV_color);
  font-size: var(--mixin-ka3EvRyvi6sV_font-size);
  font-weight: var(--mixin-ka3EvRyvi6sV_font-weight);
  line-height: var(--mixin-ka3EvRyvi6sV_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-L092Y0yTrQMs_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
